<h1>Welcome to main#index page.</h1>

<h3>Menu</h3>
<ul>
  <li><%= link_to 'Font Awesome', font_awesome_path %></li>
  <li><%= link_to 'File Field', file_field_path %></li>
  <li><%= link_to 'Test Controller', test_controller_path %></li>
</ul>
